In [42]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from tree.DecisionTreeClassifier import DecisionTreeClassifier

In [22]:
df = pd.read_csv('../../datasets/titanic/train.csv')

In [23]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
df = df.set_index('PassengerId')

## basic data preprocessing

In [25]:
df = df.drop(columns=['Name', 'Ticket', 'Cabin'])

In [26]:
df = df.dropna()

In [28]:
le = LabelEncoder()
df.loc[:, 'Sex'] = le.fit_transform(df['Sex'])
df.loc[:, 'Embarked'] = le.fit_transform(df['Embarked'])

In [29]:
df

             Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3   1  22.0      1      0   7.2500        2
2                   1       1   0  38.0      1      0  71.2833        0
3                   1       3   0  26.0      0      0   7.9250        2
4                   1       1   0  35.0      1      0  53.1000        2
5                   0       3   1  35.0      0      0   8.0500        2
...               ...     ...  ..   ...    ...    ...      ...      ...
886                 0       3   0  39.0      0      5  29.1250        1
887                 0       2   1  27.0      0      0  13.0000        2
888                 1       1   0  19.0      0      0  30.0000        2
890                 1       1   1  26.0      0      0  30.0000        0
891                 0       3   1  32.0      0      0   7.7500        1

[712 rows x 8 columns]

## DecisionTreeClassifier test

In [60]:
model = DecisionTreeClassifier()

In [61]:
X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
model.fit(X_train, y_train)

In [63]:
pred_train = model.predict(X_train)
print(classification_report(y_train, pred_train))

              precision    recall  f1-score   support

           0       0.77      0.98      0.86       344
           1       0.94      0.54      0.69       225

    accuracy                           0.80       569
   macro avg       0.85      0.76      0.77       569
weighted avg       0.83      0.80      0.79       569

In [64]:
pred_test = model.predict(X_test)
print(classification_report(y_test, pred_test))

              precision    recall  f1-score   support

           0       0.70      0.96      0.81        80
           1       0.91      0.48      0.62        63

    accuracy                           0.75       143
   macro avg       0.80      0.72      0.72       143
weighted avg       0.79      0.75      0.73       143